{% extends 'base.twig' %}

{% block title %} Liste {% endblock  %}

{% block content %} 
<div class="alert alert-success">
  <strong>{{ message }}</strong> 
</div>

<div class='row'>


    
</div>
    
{% endblock %} 