<!DOCTYPE html>
<html lang="en">
<head>
 <title> {% block title %}{% endblock title %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/img/logo.jpg" type="image/x-icon">
   <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/dt/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  {% block css %}
  {% endblock css %}
  <style>
  .wh{
    color: white
  }
  </style>
  </head>
<body>

<div class="container-fluid p-2  text-white text-center" style="background-color: #FF9500"">
<div class="row">
  <div class="col-sm-1">
    <img src="/img/logo.jpg" class="circle" style="height: 40px">
  </div>
  <div class="col-sm-5">
  <p style="float: right">INSTITUT NATIONAL DE LA STATISTIQUE</p> 
  </div>
  <div class="col-sm-3">
			
			</div>
</div>
  
</div>
  <nav class="navbar navbar-expand-sm" style="color: white; background-color: #323030">
  <div class="container-fluid">
    <a class="navbar-brand wh" href="/">GESTION SCOLAIRE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto" >
      <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle wh"  href="#" role="button" data-bs-toggle="dropdown">PARAMS</a>
          <ul class="dropdown-menu" style="background-color: #323030">
            <li><a class="dropdown-item wh" href="/params/annee.php">ANNEES</a></li>
            <li><a class="dropdown-item wh"  href="/users/list.php">UTILISATEURS</a></li>
            <li><a class="dropdown-item wh" href="/enseignant/list.php">ENSEIGNANTS</a></li>
            <li><a class="dropdown-item wh" href="/etudiant/list.php">ETUDIANTS</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link wh" href="/cycle/list.php">CYCLES</a></li>
        </li>

        <li class="nav-item">
          <a class="nav-link wh" href="/etat/list.php">ETATS</a></li>
        </li>
    

      </ul>
      <form class="d-flex">
        <a class="btn btn-link wh" href="/logout.php">DECONNEXION</a>
      </form>
      
     <!-- <ul>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{{user.login}}</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">CHANGER MOT DE PASSE</a></li>
            <li><a class="dropdown-item" href="#">DECONNEXION</a></li>
          </ul>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="/logout.php">DECONNEXION</a>
        </li>
      
      </ul>
      -->
      
  </div>
</nav>


</div>
  <div class="row">
  <div class="col-sm-11 offset-sm-1">
    
  </div>

  </div>
<div class="container-fluid">

{% block content %}

{% endblock content %}

</div>

<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dt/js/jquery.js"></script>
<script src="/dt/js/jquery.dataTables.min.js"></script>
<script src="/dt/js/dataTables.bootstrap5.min.js"></script>
{% block js %}

{% endblock js %}

</body>
</html>