{% extends 'base.twig' %}

{% block title %} Liste {% endblock  %}
{% block css %}

{% endblock %}
{% block content %} 
<div class="alert alert-success">
  <strong>Cliquez sur un etat pour previsualiser le contenu</strong> 
</div>

<div class='row'>

<div class="col-sm-3">
  <div class="d-grid gap-3">
  <button type="button" class="btn btn-success btn-block li-modale" imprimeLink="/etat/imprime/liste-cycle-module" lien="/etat/liste-cycle-module" title="Liste des enseignants">Liste des modules par cycles</button>
  </div>
</div>

<div class="col-sm-3">
  <div class="d-grid gap-3">
  <a class="btn btn-success btn-block li-modale" imprimeLink="/etat/imprime/list-enseignant" lien="/etat/liste-enseignant" title="Liste des enseignants">Liste des enseignants</a>
  </div>
</div>

<div>
  






<!-- The Modal -->
<div class="modal  fade" id="myModal"  role="dialog" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-success">
        <h4 class="modal-title">Modal Heading</h4>
        <input type="hidden" id="linkImp" value="">
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footerr">
      
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">FERMER</button>
<button type="submit" class="btn btn-primary imprimer" style="float: right">IMPRIMER</button>

                
      </div>

    </div>
  </div>
</div>






{% endblock %} 

{% block js %}

  <script>
  $(document).ready(function() {
    $('.li-modale').on('click', function(e){
        e.preventDefault();
        $('.modal-title').text($(this).attr('title'));
        $('#linkImp').val($(this).attr('imprimeLink'));
	      $('#myModal').modal('show').find('.modal-body').load($(this).attr('lien'));
	    });

      $('.imprimer').on('click', function(e){
        //loc=window.location.href+"/"+lib;
  //window.location.assign($('#linkImp').val(), '_blank')
          //alert();
          window.open($('#linkImp').val(), '_blank');
	    });


  });
</script>
{% endblock %}